.expandableTableContainer {
    margin: 1rem 0;
    .form-group {
        .react-bs-table-search-form {
            position: absolute;
            left: 0rem !important;
            top: 0rem !important;
            bottom: 0rem !important;
        }
    }
}